.delayLoad-appear{
    opacity: 0;

}
.delayLoad-appear-active{

    animation-name: delayloadIn;
    animation-duration: 300ms;
    animation-timing-function:linear;
}
.delayLoad-appear-done{
    opacity: 1;
}
@keyframes delayloadIn {
    0%{

        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}