@import "../../assets/styles/colors.scss";

$bord_height: 10pt;
$animation_time: 200ms;

//=========================================
/*
    stages: entrance, no title
    innerpage: title on top
    scroll down: title gone
    scroll up: title show

*/

// -------------title
@mixin title($isMobile: false, $stage: "show") {
  font-family: "Philosopher", sans-serif;
  display: block;
  font-size: 4rem;
  height: 8rem;
  overflow: hidden;
  width: 100%;
  top: 22pt;
  color: $color_title;
  // text-shadow: -1px -1px 0px rgb(73, 83, 90);

  position: fixed;
  padding: 0px;
  margin: 0px;
  // width: 40vw;

  @if ($stage == "show") {
    left: 95px;
  } @else if ($stage == "hide") {
    left: -100vw;
  }

  @if $isMobile {
    @if ($stage == "show") {
      left: 5vw;
    }

    top: 10pt;
    font-size: 3rem;
  }

  transition: all $animation_time ease-out;
}
@mixin titleSpan($stage: "show") {
  // text-shadow: -1px -1px 0px rgb(73, 83, 90);
  // background-image: url( "/images/light-grey-terrazzo.png");
  position: absolute;
  background: linear-gradient(to bottom, #878c94, #ffffff93, #4b5f79);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  left: 0px;

  @if ($stage== "show") {
    // done
    transform-origin: center;
    transform: rotateX(0deg) scaleY(1);
    opacity: 1;
  }
  @if ($stage== "hide") {
    // done
    transform-origin: center;
    transform: rotateX(180deg) scaleY(5);
    opacity: 0;
  }
  @if ($stage== "showing") {
    // doing
    transform-origin: center;
    transition: all $animation_time linear;
    transform: rotateX(360deg);
    opacity: 1;
  }
  @if ($stage== "hiding") {
    // done
    transform-origin: center;
    transition: all $animation_time linear;
    transform: rotateX(270deg);
    opacity: 0;
  }
}

@mixin title_trans($transition: "enter-active") {
  @if $transition == "back_start" {
    transform: rotateX(-180deg);
    opacity: 0;
  }
  @if $transition == "down" {
    transform: rotateX(-90deg);
    transition: all $animation_time linear;
    opacity: 0.5;
  }
  @if $transition == "front" {
    transition: all $animation_time linear;
    transform: rotateX(0deg);
    opacity: 1;
  }

  @if $transition == "front_start" {
    transform: rotateX(0deg);
    opacity: 1;
  }
  @if $transition == "up" {
    transform: rotateX(90deg);
    transition: all $animation_time linear;
    opacity: 0.5;
  }
  @if $transition == "back" {
    transition: all $animation_time linear;
    transform: rotateX(180deg);
    opacity: 0;
  }
}

@mixin board($isMobile: false, $stage: "show") {
  position: fixed;
  left: 0px;
  top: 75pt;
  display: block;
  height: $bord_height;

  background-color: $color_bgtitle;
  border-top: 1px solid $color_bgtitle_linedown;
  border-bottom: 1px solid $color_bgtitle_lineup;

  &::after {
    border: $bord_height/2 solid transparent;
    border-left: $bord_height/2 solid $color_bgtitle;
    // border-top: $bord_height/2 solid $color_bgtitle;
    position: absolute;
    right: $bord_height * -1;
    display: inline-block;
    content: "";
    transition: all $animation_time ease-out;
  }

  &::before {
    border-top: 1px solid $color_bgtitle_lineup;
    border-bottom: 1px solid $color_bgtitle_linedown;
    position: absolute;
    bottom: 2pt;
    width: 100%;
    display: block;
    content: "";
    transition: all $animation_time ease-out;
  }

  @if ($stage == "show") {
    width: calc(100% - 256px);
    min-width: 300pt;
  } @else if ($stage == "hide") {
    width: 0px;
    min-width: 0px;

    &::after {
      transition: all $animation_time ease-out;
      border-left-width: 0px;
    }
    &::before {
      transition: all $animation_time ease-out;
      border-left-width: 0px;
    }
  }


  @if $isMobile{
    @if $stage == "show" {
      width: 100vw;
    }
    top: 55pt;
  }

  transition: all $animation_time ease-out;
}

//======================== css structure ========================

// both mobile and desktop
.title {
  &.stage0 {
    @include title($stage: "hide");
  }
  &.stage1 {
    @include title($stage: "show");
    &.hide {
      @include title($stage: "hide");
    }
  }

  .hide {
    &.loading {
      @include titleSpan("hiding");
    }
    &.done {
      @include titleSpan("hide");
    }
  }
  .show {
    &.loading {
      @include titleSpan("showing");
    }
    &.done {
      @include titleSpan("show");
    }
  }
}
.board {
  &.stage0 {
    @include board($stage: "hide");
  }
  &.stage1 {
    @include board($stage: "show");
    &.hide {
      @include board($stage: "hide");
    }
  }
}

//======================== mobile ========================

// mobile only (copied from above)
:global(.isMobile) {
  :local {
    .title {
      &.stage0 {
        @include title(true, $stage: "hide");
      }
      &.stage1 {
        @include title(true, $stage: "show");
        &.hide {
          @include title(true, $stage: "hide");
        }
      }
    }
    .board {
      &.stage0 {
        @include board(true, $stage: "hide");
      }
      &.stage1 {
        @include board(true, $stage: "show");
        &.hide {
          @include board(true, $stage: "hide");
        }
      }
    }
  }
}
