@import "../../assets/styles/colors.scss";
@import "../../assets/styles/common.scss";
.conatiner{
  // background-image: url('/images/aboutme_guy.png');
  // background-size: auto;
  // background-position: center bottom;
  // background-repeat: no-repeat;
}
.pageInnerContainer {}


:global(.isMobile) {
  :local {
    .pageInnerContainer {
      padding-top: 7rem;
      padding-bottom: 1.5rem;
    }
    .popup {
      @include popup(true, 'none');
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }
}
:global(.isDesktop) {
  :local {
    .pageInnerContainer {
      padding-top: 10rem;
    }
    .popup {
      @include popup($direction:'trr');
      margin-left: 95px;
      margin-right: 256px;
    }
  }
}


