@import "../../assets/styles/colors.scss";
@import "../../assets/styles/common.scss";
.conatiner{
  // background-image: url('/images/aboutme_guy.png');
  // background-size: auto;
  // background-position: center bottom;
  // background-repeat: no-repeat;
}
.pageInnerContainer {}


:global(.isMobile) {
  :local {
    .pageInnerContainer {
      padding-top: 7rem;
    }
    .popup {
      @include popup(true);
      left: 1.5rem;
      width: calc(100vw - 6rem);
    }
  }
}
:global(.isDesktop) {
  :local {
    .pageInnerContainer {
      padding-top: 10rem;
    }
    .popup {
      @include popup($direction:'bld');
      left: 10rem;
      width: calc(100vw - 30rem);
    }
  }
}


