@import '../../assets/styles/colors.scss';
@import '../../assets/styles/common.scss';
.page_container{
    background-color:$color_bgdefault;
}
.pageInnerContainer{
    padding: 10rem;
}

.popup {
    @include popup;
    left: 5rem;
    width: 35rem;
}