@import "../../assets/styles/colors.scss";
@import "../../assets/styles/common.scss";

.conatiner {
  // background-color: #3b435f;
}

.popup {
  @include popup;
}
.box {
  padding-top: 150px;
}
.theEnd{
  background: linear-gradient(to bottom, $color_bgmiddle, $color_bgdeepdark);
  display:block;
  height: 10px;
  width: 100%;
}
.heading {
  background: #ccc;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  font-size: 30px;
  padding-left: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
//-----------------styles
.category > .title {
  color: #717377;
}
.itemList {
  padding-top: 5rem;
  border-left: 1px solid $color_border;
  .itemTitle {
    .position {
      font-size: 2.3rem;
      color: #dadac3;
      padding-right: 2rem;
      height: 5rem;
    }
    .company {
      margin-top: 1.2rem;
      color: #7b8394;
      font-size: 1rem;
      border-top: 1px solid $color_border;
      line-height: 1.5rem;
    }
    .time {
      margin-top: 1.2rem;
      color: #ffffff;
      border-top: 1px solid $color_border;
      line-height: 1.5rem;
    }
  }

  .content {
    .content_l {
      font-size: 1.1rem;
      color: #989898;
      padding-left: 1.2rem;
      li {
        list-style: square outside;
        line-height: 2rem;
      }
    }
  }
}

//-----------------layout: flex structures
.category {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 256px);

  // column left
  .title {
    padding-top: 5.5rem;
    width: 15rem;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    .stiky {
      position: -webkit-sticky;
      position: sticky;
      top: 50px;
      padding-bottom: 7rem;
    }
  }
  .itemList {
    display: block;
    width: 100%;
    padding-left: 2rem;
    .item {
      position: relative;
      padding-bottom: 7rem;
      &::before {
        position: absolute;
        display: block;
        width: 6px;
        height: 20px;
        background-color: #82889d;
        content: "";
        left: calc(-2rem - 3px);
        top: 0.8rem;
      }
      .itemTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .position {
          width: auto;
          text-align: left;
        }
        .company {
          flex: 1;
          text-align: left;
        }
        .time {
          display: block;
          text-align: right;
        }
      }
      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .content_l {
          width: auto;
        }
        .content_r {
          width: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 1410px) {
  .category {
    width: calc(100vw - 50px);
  }
}

@media only screen and (max-width: 1260px) {
  .box {
    padding-left: 25px;
  }
  .category {
    display: block;
    width: calc(100% - 50px);
    .title {
      padding-top: unset;
      width: 100%;
      font-size: 2rem;
      padding-left: 1.5rem;
      border-bottom: 1px solid $color_border;
      background-color: $color_border;
      line-height: 4rem;
      .stiky {
        position: unset;
        padding-bottom: unset;
      }
    }

    .itemList {
      padding-top: 2.5rem;
      padding-left: 1.5rem;
      .item {
        padding-bottom: 3rem;
        &::before {
          left: calc(-1.5rem - 3px);
        }
      }
    }

    .itemTitle {
      .position {
        font-size: 2.1rem;
        padding-right: 1rem;
        height: 4rem;
      }
      .company {
        font-size: 0.8rem;
        line-height: 1.2rem;
      }
      .time {
        font-size: 0.8rem;
        line-height: 1.2rem;
      }
    }
  }
}

@media only screen and (max-width: 882px) {
  .box {
    padding-left: 0px;
    padding-top: 100px;
  }
  .category {
    width: calc(100% - 30px);
    .itemList {
      padding-left: 1rem;
      .item {
        &::before {
          width: 2px;
          top: 5px;
          height: 2.5rem;
          left: calc(-1rem);
        }
        .itemTitle {
          display: block;
          width: 100%;
          .position {
            font-size: 1.5rem;
            display: block;
            height: auto;
            line-height: 2rem;
            width: auto;
            border-bottom: 1px solid $color_border;
          }
          .company {
            margin-top: 0px;
            display: block;
            border-top: none;
          }
          .time {
            margin-top: 0px;
            display: block;
            border-top: none;
            text-align: left;
            border-bottom: 1px solid $color_border;
          }
        }

        .content {
          padding-top: 0.5rem;
          .content_l {
            font-size: 0.9rem;
            color: #989898;
            padding-left: 1rem;
            li {
              list-style: square outside;
              line-height: 1.5rem;
            }
          }
        }
      }
    }
  }
}
