@keyframes animation_tv_show {
    10% {
      transform: scale(1, 0.002);
    }
    35% {
      transform: scale(0.2, 0.002);
      opacity: 1;
    }
  
    50% {
      transform: scale(0.2, 0.002);
      opacity: 0;
    }
    85% {
      transform: scale(1, 0.002);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
    }
  }

@keyframes animation_page_show {
    0%{
        transform: translate3D(-100vw, 50vh, 50vh) rotateX(90deg);
    }
    10%{
        transform: translate3D(-100vw, 50vh, 50vh) rotateX(90deg);
    }
    50%{
        transform: translate3D(0, 0, 0) rotateY(0deg) scale(0.8, 0.8) translateX(-15vw);
        background-color: #e0e0e0;
        box-shadow: 0px 0px 20px 0px rgba(136, 136, 136, 0.253);
        border: 1px solid #ffffff;
    }
    80%{
        transform: translate3D(0, 0, 0) rotateY(0deg) scale(0.8, 0.8) translateX(-15vw);
        background-color: #e0e0e0;
        box-shadow: 0px 0px 20px 0px rgba(136, 136, 136, 0.253);
        border: 1px solid #ffffff;
    }
    100%{
        transform: scale(1, 1) translateX(0);
    }
}

@keyframes animation_page_hide {
    10% {
        transform: scale(0.8, 0.8) translateX(-15vw);
      }
      85% {
        z-index: 0;
        transform: scale(1, 0.002);
        opacity: 1;
      }
      100% {
        z-index: 0;
        transform: scale(0, 0);
        opacity: 0;
      }
}