@import '../assets/styles/colors.scss';

$animation_time_page: 1000ms;
$animation_delay: 500ms;
$cube_height: 100vh;
$cube_width: 100vw;
$cube_distance : 60vh;
$left_deviate: - $cube_distance * 0.25;


// dont forget to set App.scss
.onLoad{

}
.onLoadEnd{
    display: none;
}



.main {
  perspective: 100vh;
}
.main_lock {
  height: $cube_height;
  width: $cube_width;
  overflow: hidden;
}
.main_unlock {
  height: auto;
}

// Css transition needs global
:global {

  .page_container {
    // position: unset;
    min-height: 100vh;
    // overflow: auto;
    background-color: transparent;
  }

  //========================= page enter
  %page-enter-prepare {
    position: fixed;
    z-index: 400;
    opacity: 1;
    display: block;
    width: $cube_width;
    height: $cube_height;
    overflow: hidden;
    border: 1px solid #FFFFFF;
    border-bottom: 2px solid $color_bgreverse;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    z-index: 600;
    transform: rotateX(  -90deg) translateZ($cube_height / 2) translateY($cube_height / 2);
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 0;
  }

  %page-enter-endpoint {
    display: block;
    border: 1px solid #FFFFFF;
  }
  %page-enter-done {
    position: unset;
    z-index: unset;
    width: unset;
    height: unset;
    border:none;
  }

  //========================= page exit
  %page-exit-prepare {
    position: fixed;
    z-index: 500;
    opacity: 1;
    display: block;
    width: $cube_width;
    height: $cube_height;
    overflow: hidden;

    border: 0px solid $color_bgreverse;
  }
  %page-exit-endpoint {
    @extend %page-exit-prepare;
    opacity: 0;
    // transform: scale(1,1) translateY(0vh);
  }






  /* slide animation */
  .slide-in-appear {
    @extend %page-enter-prepare;
    transform: translateZ($cube_height / 3);
  }
  .slide-in-appear-active {
    @extend %page-enter-endpoint;
    transform: translateZ($cube_height / 3);
    animation-name: animation_zoomin;
    animation-duration: $animation_time_page;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  .slide-in-appear-done {
    @extend %page-enter-done;
  }

  .slide-in-enter {
    @extend %page-enter-prepare;
  }
  .slide-in-enter-active {
    // @extend %page-enter-endpoint;
    animation-name: animation_cube_show;
    animation-duration: $animation_time_page;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: $animation_delay;
  }

  .slide-in-enter-done {
    @extend .slide-in-appear-done;
  }

  .slide-in-exit {
    @extend %page-exit-prepare;

    // transform-style: preserve-3d;
    // transform: translate3D(0, 0, 0) rotateX(0deg);
  }
  .slide-in-exit-active {
    // @extend %page-exit-endpoint;
    animation-name: animation_cube_hide;
    animation-duration: $animation_time_page;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: $animation_delay;

  }

  .animation_entrance.slide-in-exit {

  }

  
  .animation_entrance.slide-in-exit-active {
    animation-name: animation_zoom_hide;
    animation-duration: $animation_time_page;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: $animation_delay;
    //   transform: translate3D(100vh, 150vh, 0vh) rotateX(-90deg);
  }



} // global
