.page_container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
/* z-index */

/* slide effect */
.slide-in-appear {
  transform: translate3D(100%, 0, 0);
  transition: all 1000ms ease-in-out;

  // & means .slide-in-appear.slide-in-appear-active.  if you have a space like "& .slidexxxx" it will be ".xxx .slidexxxx"
  &.slide-in-appear-active {
    transform: translate3D(0, 0, 0);
  }
}

.slide-in-enter {
  transform: translate3D(100%, 0, 0);
  transition: all 1000ms ease-in-out;
  
  // Title enter
  .animation_title {
    opacity: 0.1;
    transition: all 1000ms ease-in-out;
    transition-delay: 1s;
    color: #ffffff;
  }

  &.slide-in-enter-active {
    .animation_title {
      opacity: 1;
      color: #000000;
    }
    transform: translate3D(0, 0, 0);
  }
}

.slide-in-exit {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transform: translate3D(0, 0, 0);
  transition: all 1000ms ease-in-out;

  &.slide-in-exit-active {

    opacity: 0.01;
    transform: translate3D(-100%, 0, 0);
  }
}
