$animation_time_page: 500ms;

// navigation bar

.header {
  position: fixed;
}
.avatar {
  background-color: rgba(218, 218, 218, 0.548);
  border: 1px solid #049aa5;
  display: inline-block;
  margin-bottom: -3.2rem;
}
.animation_menu {
  transition: all $animation_time_page/2 ease-out;
  transition-delay: 1s;
  background-color: #ffffff;
}
.navitems {
  display: block;
  width: 15rem;
  height: 50vh;
  overflow: hidden;
  ul{background-color: blanchedalmond}
  ul,li{
    display:block;
    text-align: left;
    padding:0px;
    margin:0px;
  }

}
// ============animation of nav

// animation nav hide
.nav_entrance {
  transition: top $animation_time_page/2 ease-out, right $animation_time_page/2 ease-in,
    background-color $animation_time_page/2 ease-out, border-radius $animation_time_page/2 ease-out;
  transition-delay: .5s;
  top: calc(50vh - 14rem);
  right: calc(50vw - 7rem);
  text-align: right;
  background-color: transparent;
  border-radius: 7rem;
  
  .avatar {
    transition: all $animation_time_page/2 ease-out;
    transition-delay: 1s;
    height: 14rem;
    width: 14rem;
    border-radius: 7rem;
    margin-bottom: 0rem;
  }
  .navitems {
    transition: all $animation_time_page ease-out;
    height: 0px;
  }
  .animation_menu {
    transition: all $animation_time_page/2 ease-out;
    background-color: transparent;
  }
}

// animation nav showup
.nav_side {
  transition: top $animation_time_page/2 ease-in, right $animation_time_page/2 ease-out,
    background-color $animation_time_page/2 ease-out, border-radius $animation_time_page/2 ease-out;
  transition-delay: $animation_time_page;
  top: 1rem;
  right: 1rem;
  text-align: right;
  //   background-color: #2a2b64;
  border-radius: 0rem;

  .avatar {
    transition: all $animation_time_page ease-out;
    background-color: #ffffff;
    border: none;
    height: 6rem;
    width: 6rem;
    border-radius: 3em;
  }
  .navitems {
    transition: all $animation_time_page ease-out;
    transition-delay: $animation_time_page * 2;
  }
}

.nav_mobileside {
  @extend .nav_side;
  top: 0rem;
  text-align: right;
  background-color: transparent;
  top: 1rem;
  .avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 1em;
    margin-bottom: -1.6rem;
  }

  .navitems_display{
    display:block;
  }
  .navitems_hide {
    display:none;
  }
}

.linkselected {
  text-decoration: underline;
  font-size: 2.5rem;
  color: aquamarine;
  transition: all $animation_time_page ease-in-out;
  //   animation-name: animation_tv_fade;
  //   animation-duration: 4s;
  display: block;
}
.linkregular {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  transition: all $animation_time_page ease-in-out;
}

.main {
  perspective: calc(200vh);
}

/* ============ z-index */
.header {
  z-index: 1000;
}

.main {
  z-index: 100;
}

:global {
  .page_container {
    position: unset;
    min-height: 100vh;
    // overflow: auto;
    background-color: transparent;
  }

  /* slide animation */
  .slide-in-appear {
    transform-style: preserve-3d;
    transform: translate3D(-50vw, 50vh, 50vh) rotateX(90deg);
    transition: all $animation_time_page/2 ease-out;
    opacity: 1;
    // & means .slide-in-appear.slide-in-appear-active.  if you have a space like "& .slidexxxx" it will be ".xxx .slidexxxx"
  }
  .slide-in-appear-active {
    transition: all $animation_time_page/2 ease-out;
    transform: translate3D(0, 0, 0) rotateY(0deg);
    opacity: 1;
    position: absolute;
    z-index: 500;
    background-color: aqua;
    .page_container {
      transition: all $animation_time_page/2 ease-out;
      transform: scale(0.8, 0.8) translateX(-15vw);
      background-color: #e0e0e0;
      position: absolute;
      z-index: 500;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      box-shadow: 0px 0px 20px 0px #353535ab;
      border: 1px solid #ffffff;
    }
  }

  .slide-in-appear-done {
    .page_container {
      transition: all $animation_time_page/2 ease-out;
      transform: scale(1, 1) translateX(0vw);
    }
  }
  .slide-in-enter {
    @extend .slide-in-appear;
  }
  .slide-in-enter-active {
    @extend .slide-in-appear-active;
  }

  .slide-in-enter-done {
    @extend .slide-in-appear-done;
  }

  .slide-in-exit {
    opacity: 1;
    // transform-style: preserve-3d;
    // transform: translate3D(0, 0, 0) rotateX(0deg);

    transform: scaleY(100vh) translateY(0vh);
    transition: all $animation_time_page ease-out;
 
    &.slide-in-exit-active {

    .page_container {
        position: absolute;
        z-index: 0;
        height: 100vh;
        width: 100vw;  
        overflow: hidden;  
    }
      opacity: 0;
      transform: scaleY(0) translateY(100vh);
      //   transform: translate3D(100vh, 150vh, 0vh) rotateX(-90deg);
    }
  }

  //   @keyframes animation_tv_fade {
  //     10% {
  //       transform: scale(1, 0.002);
  //     }
  //     35% {
  //       transform: scale(0.2, 0.002);
  //       opacity: 1;
  //     }

  //     50% {
  //       transform: scale(0.2, 0.002);
  //       opacity: 0;
  //     }
  //     85% {
  //       transform: scale(1, 0.002);
  //       opacity: 1;
  //     }
  //     100% {
  //       transform: scale(1, 1);
  //     }
  //   }
}
