@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');




@import './assets/styles/colors.scss';
body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Quicksand', sans-serif;
  // height: 100vh;
  // background-color: $color_bgdark;
  // overflow: overlay;
}
html {
  overflow-y: auto;
  overflow-x: hidden;
}
ul, li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#root{
  // height: 100%;
  width: 100%;
  margin-right: calc(100% - 100vw);
}
a{
  -webkit-tap-highlight-color:transparent;
  transition: all 200ms linear;
  color: $color_linkreverse;
  &:hover{
    color: $color_danger;
  }
}

/* ============ z-index */
.z_avatar {
  z-index: 1020;
}
.z_nav {
  z-index: 1010;
}
.z_board{
  z-index: 1000;
}
.z_overlay {
  z-index: 990;
}
.z_title{
  z-index: 910;
}
.z_title_board{
  z-index: 900;
}

.z_main {
  z-index: 100;
}



