@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
body {
  margin: 0;
  font-family: 'Philosopher', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // height: 100vh;
  background-color: rgb(56, 57, 68);
}
ul, li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#root{
  // height: 100%;
  width: 100%;
  overflow-x:hidden;
}


/* ============ z-index */
.z_avatar {
  z-index: 1001;
}
.z_nav {
  z-index: 1000;
}

.z_main {
  z-index: 100;
}