//======================================= general text
$color_primary: #c7c9d3;
$color_topic: #FFFFFF;
$color_reverse: #FFFFFF;
$color_secondary: #717790;
$color_success: #47cf73;
$color_danger: #af0d1a;
$color_warning: #ffdd40;
$color_info: #717790;
$color_light: #FFFFFF;
$color_dark: #1e1f26;
$color_link: #76daff;
$color_transparent: #bebebea1;
$color_facinglight: #ffffff31;

//======================================= general bg
$color_bgdeepdark: #010101;
$color_bgdark: #1e1f26;
$color_bgmiddle: #2d303a;
$color_bggrey: #494c55;
$color_bglight: #9ca0b1;
$color_bgtransparent: #bebebea1;
$color_bgreverse:#FFFFFF;
$color_bgdefault:$color_bgmiddle; 
//=======================================