//======================================= general text
$color_primary: #c7c9d3;
$color_topic: #FFFFFF;
$color_reverse: #FFFFFF;
$color_secondary: #717790;
$color_success: #009e69;
$color_danger: #af0d1a;
$color_dangerreverse: #ffa194;
$color_warning: #ffdd40;
$color_info: #717790;
$color_light: #FFFFFF;
$color_dark: #1e1f26;
$color_link: #76daff;
$color_linkreverse: #009eb4;
$color_transparent: rgba(190, 190, 190, 0.6);
$color_facinglight: #ffffff31;
$color_border: #474b58;

//======================================= general bg
$color_bgdeepdark: #010101;
$color_bgdark: #1e1f26;
$color_bgmiddle: #2d303a;
$color_bggrey: #494c55;
$color_bglight: #9ca0b1;
$color_bgtransparent: rgba(191, 191, 191, 0.6);
$color_bgreverse:#FFFFFF;
$color_bgPopup: #e0e3e6;

//======================================= colors as name
$color_blue: #9fbdca;

//======================================= colors of pages
$color_bgdefault:$color_bgmiddle; 
$color_title: $color_blue; // big title
$color_bgtitle: #393c42;
$color_bgtitle_lineup: #27292e;
$color_bgtitle_linedown: #44484e;

@mixin testClass{
    color: #76daff;
}