.conatiner {
  background-color: $color_bgdefault;

  // no using it, because there are not enough transition colors for web to fill the screen
  // background: linear-gradient(to bottom, #001421, #4c515f45, #4b5f79);
}

.content {
  color: #8c9497;
}

/**
  POPUP BUBBLE
*/
@mixin popup(
  $isMobile: false,
  $direction: "brr",
  $border: #fafafa,
  // $background: rgba(244, 246, 248, 0.9),
  $background:$color_bgPopup,
  $color: #151616  
) {
  
  // -------------------------general settings
  $thick: 5px;
  $angle: 30px;
  $radius: 30px;
  $tailheight: 10px;
  @if ($isMobile) {
    $radius: 10px;
    $tailheight: 5px;
  }

  

  line-height: 1.8rem;
  font-size: 1rem;
  display: block;
  padding: 2rem;
  position: relative;
  background-color: $background;
  color: $color;

  &:after {
    background-color: transparent;
    position: absolute;
    right: 0 - $angle - $thick - 3;
    display: block;
    width: 0px;
    content: "";
    border: $angle solid transparent;
    border-left: $thick solid #666975;
  }
  &:before {
    position: absolute;
    border: $tailheight solid transparent;
    content: "";
  }

  // ------------------------- none popup
  @if ($direction == "none") {
    border-left: 1px solid $border;
    border-top: 1px solid $border;
    border-radius: 0px $radius 0px $radius;
    height: calc(100% - #{2 * $radius + $angle - $thick}); // need to check how many radius
    &:after {
      top: $radius - $thick;
      height: calc(100% - #{2 * $radius + $angle - $thick}); // need to check how many radius
    }
  }

  // ------------------------- top left
  @if ($direction == "tll") {
    border-right: 1px solid $border;
    border-top: 1px solid $border;
    border-radius: 0px $radius $radius $radius;

    &:before {
      border-right: $tailheight solid $background;
      border-top: $tailheight solid $background;
      content: "";
      left: ($tailheight * -2 + 1);
      top: -1px;
    }
    &:after {
      top: $radius - $thick;
      height: calc(100% - #{2 * $radius + $angle - $thick + $tailheight * 2}); // need to check how many radius
    }
  }

  // ------------------------- bottom left
  @if ($direction == "bll") {
    border-right: 1px solid $border;
    border-top: 1px solid $border;
    border-radius: $radius $radius $radius 0px;

    &:before {
      border-bottom: $tailheight solid $background;
      border-right: $tailheight solid $background;
      content: "";
      left: $tailheight * -2;
      bottom: 0px;
    }
    &:after {
      top: $radius - $thick;
      height: calc(100% - #{2 * $radius + $angle - $thick + $tailheight * 2}); // need to check how many radius
    }
  }

  // ------------------------- bottom left down
  @if ($direction == "bld") {
    border-right: 1px solid $border;
    border-top: 1px solid $border;
    border-radius: $radius $radius $radius 0px;

    &:before {
      border-top: $tailheight solid $background;
      border-left: $tailheight solid $background;
      content: "";
      left: 0px;
      bottom: $tailheight * -2;
    }
    &:after {
      top: $radius - $thick;
      height: calc(100% - #{2 * $radius + $angle - $thick + $tailheight * 2}); // need to check how many radius
    }
  }
  // ------------------------- bottom right
  @if ($direction == "brr") {
    border-left: 1px solid $border;
    border-top: 1px solid $border;
    border-radius: $radius $radius 0px $radius;

    &:before {
      border-left: $tailheight solid $background;
      border-bottom: $tailheight solid $background;
      content: "";
      right: $tailheight * -2;
      bottom: 0px;
    }
    &:after {
      top: $radius - $thick;
      height: calc(100% - #{2 * $radius + $angle - $thick + $tailheight * 2}); // need to check how many radius
    }
  }
  // ------------------------- top right
  @if ($direction == "trr") {
    border-left: 1px solid $border;
    border-top: 1px solid $border;
    border-radius: $radius 0px $radius $radius;

    &:before {
      border-left: $tailheight solid $background;
      border-top: $tailheight solid $background;
      content: "";
      right: $tailheight * -2;
      top: -1px;
    }
    &:after {
      top: $radius - $thick;
      height: calc(100% - #{2 * $radius + $angle - $thick + $tailheight * 2}); // need to check how many radius
    }
  }


  @if ($isMobile) {
    padding: .7rem;
    font-size: 0.8rem;
    line-height: 1.4rem;

    &:before {
    }
    &:after {
      content: none;}
  }
}
:global(.isMobile) {
  :local{
    @media only screen and (max-width: 768px) {
      .theEnd{
        background: linear-gradient(to bottom, $color_bgmiddle, $color_bgdeepdark);
        display:block;
        height: 10px;
        width: 100%;
        position:fixed;
        bottom: 0px;
      }
    }
  }
}

@mixin border-embed{
  border-top: 1px solid #21262c;
  border-left: 1px solid #21262c; 
  border-bottom: 1px solid #3b434d;
  border-right: 1px solid #3b434d;
}

@mixin border-embed-light{
  border-top: 1px solid #9ea8b4;
  border-left: 1px solid #9ea8b4; 
  border-bottom: 1px solid #dde4ec;
  border-right: 1px solid #dde4ec;
}


.annoyingTalk{
  background-image: url('/images/icons/z_small.png');
  background-position: 6px .1rem;
  background-repeat: no-repeat;
  display:inline-block;
  min-height: 1.3rem;
  line-height: 1.3rem;
  font-size: 0.75rem;
  color: #9fa8b4;
  padding:  0.5rem 25px 0.5rem 45px;
  background-color: #282a2c;
  border-radius: 1.5rem;
  @include border-embed;
  
  max-width: 80vw;
  width:auto;
}