.conatiner {
  background-color: $color_bgdefault;
  // no using it, because there are not enough transition colors for web to fill the screen
  // background: linear-gradient(to bottom, #001421, #4c515f45, #4b5f79);
  padding-top: 10rem;
}

.content {
  color: #8c9497;
}

@mixin popup {
  display: block;
  padding: 2rem;
  position: relative;
  background-color: rgba(217, 227, 236, 0.842);
  border-radius: 0px 30px 0px 0px;
  color: #323638;
  .popup::after {
    background-color: transparent;
    position: absolute;
    right: -48px;
    top: 25px;
    display: block;
    width: 10px;
    height: calc(100% - 85px);
    content: "";
    border: 30px solid transparent;
    border-left: 5px solid #666975;
  }
}

