@import "../../assets/styles/colors.scss";
@import "../../assets/styles/common.scss";
.conatiner {
  // background-image: url('/images/aboutme_guy.png');
  // background-size: auto;
  // background-position: center bottom;
  // background-repeat: no-repeat;
}
.pageInnerContainer {
}

.myName {
  color: $color_light;
  font-size: 3.5rem;
  text-align: left;
  min-height: 5vw;
}
.myTitle {
  color: $color_light;
  font-size: 1rem;
  min-height: 4vw;
}
.mySocial {
  text-align: right;
  padding-top: 5pt;
  a {
    color: $color_dark;
    transition: all 200ms linear;
    svg {
      transition: all 200ms linear;
    }
    &:hover {
      color: $color_danger;
      svg {
        transform: scale(1.2);
      }
    }
    padding: 3pt;
  }
}
.picture {
  overflow: hidden;
  border-radius: 3pt;
  border: 1px solid #535767;
  img {
    margin-left: 50%;
    transform: translateX(-42%);
  }
  // $thick: 5px;
  // $angle: 30px;
  // $radius: 30px;
  // &:after{
  //   background-color: transparent;
  //   position: absolute;
  //   right: 0px;
  //   display: block;
  //   width: 0px;
  //   content: "";
  //   border: $angle solid transparent;
  //   border-left: $thick solid #666975;
  //   top: 0px;
  //   height: 100%;
  // }
}

@mixin desktopWrapper {
  .pageInnerContainer {
    padding-top: 10rem;
  }
  //------------------------------------- layout
  .floating {
    display: flex;
    flex-direction: row;
    .floating_l {
      width: 18vw;
    }
    .floating_r {
      flex: 1;
    }
  }
  //------------------------------------- styling
  .floating {
    position: absolute;
    top: 20vh;
    width: calc(100vw - 350px);
    left: 30%;
    transform: translateX(-30%);
    padding-bottom: 2rem;
  }
  .picture {
    width: 15vw;
    height: 20vw;
    img {
      margin-left: 50%;
      transform: translateX(-42%);
    }
  }
  .myName,
  .myTitle {
    padding-left: 2rem;
  }

  .popup {
    @include popup($direction: "tll");
    left: 6rem;
    width: calc(100% - 15rem);
  }
} // desktop

@mixin mobileWrapper {
  .pageInnerContainer {
    padding-top: 3.5rem;
  }

  //------------------------------------- layout
  .floating {
    display: block;
    padding-top: 1rem;
    padding-bottom: 2rem;
    .floating_l {
      width: 22vw;
    }
    .floating_r {
      flex: 1;
    }
  }

  .floating {
    .floating_l {
      max-width: 660px;
      max-height: 660px;
      width: 100vw;
      margin: 0rem auto;
      padding-top: 1.3rem;
      padding-bottom: 3rem;
      .picture {
        width: 100vw;
        height: calc(75vw - 4rem);
        max-width: 660px;
        max-height: 660px;
        img {
          margin-left: 50%;
          margin-top: 5%;
          transform: translateX(-42%) translateY(-5%);
        }
      }
    }
  }
  .myName {
    font-size: 2.5rem;
    padding-left: 1.5rem;
    height: 3.5rem;
  }
  .myTitle {
    font-size: 1rem;
    padding-left: 1.5rem;
    height: 1.5rem;
  }

  .popup {
    @include popup($isMobile: true, $direction: "none");
    left: 1.5rem;
    width: calc(100vw - 4.5rem);
  }
} // mobile

:global(.isDesktop) {
  :local {
    @media only screen and (min-width: 1381px) {
      @include desktopWrapper;
    }
    @media only screen and (max-width: 1380px) and (min-width: 661px) {
      @include mobileWrapper;
      .popup {
        left: 1.5rem;
        width: calc(100vw - 200px);
      }
      .floating {
        .floating_l {
          margin: 0rem auto;
          transform: translateX(-50px);
          padding-top: 5rem;
          padding-bottom: 3rem;
          .picture {
            height: 30vw;
            img {
              margin-left: 50%;
              transform: translateX(-42%) translateY(-5%);
            }
          }
        }
      }
    }
    @media only screen and (max-width: 660px) {
      @include mobileWrapper;
      .floating {
        .floating_l {
          padding-top: 5rem;
          .picture {
            border-left: none;
            border-right: none;
            border-radius: unset;
          }
        }
      }
    }
  }
}
:global(.isMobile) {
  :local {
    @include mobileWrapper;
    .floating {
      .floating_l {
        .picture {
          border-left: none;
          border-right: none;
          border-radius: unset;
        }
      }
    }

    @media only screen and (min-width: 760px) {
      .floating {
        .floating_l {
          padding-top: 5rem;
        }
      }
    }
  }
}

.annoyingTalk {
  position: absolute;
  right: 10px;
  top: -35px;
  border-top-right-radius: unset;
  //
}
@media only screen and (max-width: 1380px) {
  .annoyingTalk {
    display: none;
  }
}
