@import '../../assets/styles/colors.scss';
.testColor {
  background-color: $color_bgdefault;
}

:global {
  .test3d {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 30px;
    left: 50px;
    background-color: coral;
    display: block;
    animation-name: bounce;
    animation-duration: 4s;
  }

  .testanimation-enter {
    animation-name: animation_tv_fade;
    animation-duration: 4s;
  }

  .testanimation-enter-active {
    animation-name: animation_tv_fade;
    animation-duration: 4s;
  }

  .testanimation-enter-done {
    transition: all 1s ease-in-out;
    animation-name: animation_tv_fade;
    animation-duration: 4s;
  }
}

