@import "../../assets/styles/colors.scss";

$animation_time_page: 800ms;

/*
nav_entrance / nav_side / nav_mobileside (control movement between entrance and inner pages)
    desktop:background (put the background of inner pages)
        avatar 
        mobile:navitems_display / mobile:navitems_hide (toggle the nav menu)
            navitems (width and styles of nav menu)
*/

/*==============================================================================*/
@mixin avatar {
  display: block;
  position: fixed;
}
@mixin navContainer {
  position: fixed;
}
@mixin board {

}

.avatar {
  a {
    display: block;
    height: 100%;
    width: 100%;
  }
}

/*==============================================================================*/
// stage 0: entrance
@mixin stage0-avatar {
  top: calc(50% - 16rem);
  right: calc(50% - 16rem);
  height: 32rem;
  width: 32rem;
}
@mixin stage0-navContainer {
  // menu
  top: 10rem;
  right: 0rem;
}
@mixin stage0-board {
  display: hidden;
}

// stage 1: nav
@mixin stage1-avatar {
  top: 1rem;
  right: 1.8rem;
  height: 8rem;
  width: 8rem;
}
@mixin stage1-navContainer {
  top: 10rem;
  right: 0rem;
}


// stage for board
@mixin stage1-board {
  display: block;
  position: absolute;
  background-color: $color_bgdark;
  border-left: 1px solid $color_facinglight;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,.5);
  right: 0rem;
  top: 0rem;
  width: 12rem;
  height: 100vh;
}
@mixin stage1-board-parentplay {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,.5);
  width: 0rem;
}
@mixin stage1-board-parentstop {
  width: 12rem;
}

// stage for navitems
@mixin state-navitems-show {
  display: block;
  width: 13rem;
  // overflow: hidden;
  box-sizing: content-box;
  white-space: nowrap;
}
@mixin state-navitems-hide {
  width: 0rem;
  overflow: hidden;
  white-space: nowrap;
}
@mixin stage1-navitems-parentplay {
    transform: scale(0.95,0.95);
}
@mixin stage1-navitems-parentstop {

}


// stage for links
@mixin links{
  a{
    border-left: 4px solid rgba(255,255,255,.2);
    border-bottom: 1px solid $color_bgdeepdark;
    background-color: $color_bgmiddle;
    margin-bottom: .5rem;
    padding: 5pt 0pt;
    display: block;
    height: 100%;
    padding-left: 1.5rem;
  }
  a:hover{ 
    margin-left: -1rem;
  }
}
@mixin state-linkselected {
  a{
    text-decoration: none;
    font-size: 2.5rem;
    color: rgb(221, 219, 209);
    transition: all $animation_time_page/2 ease-in-out;
    text-shadow: 3px 1px 5px rgba(0,0,0,.5);
    //   animation-name: animation_tv_fade;
    //   animation-duration: 4s;
  }
  a span{

   }
}

@mixin state-linkregular {
  a{
    text-decoration: none;
    font-size: 2rem;
    color: $color_secondary;
    transition: all $animation_time_page/2 ease-in-out;
  }
  a:hover{
    color: $color_warning;
    transition-duration: 300ms;
  }
}



/*==============================================================================*/
.stage0 {
  &.avatar {
    @include avatar;
    @include stage0-avatar;
  }
  &.navContainer {
    @include navContainer;
    @include stage0-navContainer;

    .navitems {
      @include state-navitems-hide;
    }
  }
  &.board {
    @include board;
    @include stage0-board;
  }
}

// stage 1: pages
.stage1 {
  &.avatar {
    @include avatar;
    @include stage1-avatar;
  }
  &.navContainer {
    @include navContainer;
    @include stage1-navContainer;
  }
  &.board {
    @include board;
    @include stage1-board;
  }
  &.parentAnimationPlay{
    &.board {
      @include board;
      @include stage1-board-parentplay;
    }
    .navitems {
      @include stage1-navitems-parentplay;
    }
  }
  &.parentAnimationStop{
    &.board {
      @include board;
      @include stage1-board-parentstop;
    }
    .navitems {
      @include stage1-navitems-parentstop;
    }
  }
}

// always
.navitems {
  .state_linkselected {
    @include links;
    @include state-linkselected;
  }
  .state_linkregular {
    @include links;
    @include state-linkregular;
  }
}


.navitems_show {
  @include state-navitems-show;
  transition: all $animation_time_page ease-out;
}
.navitems_hide {
  @include state-navitems-hide;
  transition: all $animation_time_page ease-out;
}


// ============animation of nav

// animation bind: nav hide(go to entrance)---desktop
.stage0 {
  &.avatar {
    // transition: all $animation_time_page ease-out;
    animation-name: animation_avatar_Menu_to_Entrance;
    animation-duration: $animation_time_page;
    animation-fill-mode: forwards;
  }
  .navitems {
    transition: all $animation_time_page/4 ease-out;
  }
}
// animation bind: nav showup--desktop
.stage1 {
  &.avatar {
    // transition: all $animation_time_page ease-out;
    animation-name: animation_avatar_Entrance_to_Menu;
    animation-duration: $animation_time_page;
    animation-fill-mode: forwards;
  }
  &.parentAnimationPlay, &.parentAnimationStop{
    &.board {
      transition: all $animation_time_page/4 ease-out;
    }
    .navitems {
      transition: all $animation_time_page/4 ease-out;
    }
  }
}

// animation nav hide(entrance)---mobile
// as same as desktop

// animation nav showup--mobile
.nav_mobileside {
  &.stage0 {
    &.navContainer {
      @extend .navContainer;

      .navitems {
        @include state-navitems-hide;
      }
    }

    &.avatar {
      top: calc(50% - 10rem) !important;
      right: calc(50% - 4rem) !important;
      height: 3rem;
      width: 3rem;
    }
  }
  &.stage1 {
    &.navContainer {
      @extend .navContainer;
      text-align: right;
      background-color: transparent;
      top: 5rem;
      right: 0rem;
    }
    &.avatar {
      top: 1rem;
      right: 1rem;
      height: 3rem;
      width: 3rem;
      border-radius: 1em;
      margin-bottom: -1.6rem;
    }
  }
}
/*==============================================================================*/
:global {
  @keyframes animation_avatar_Entrance_to_Menu {
    0% {
      @include stage0-avatar;
      opacity: 1;
    }   
    30% {
      @include stage0-avatar;
      // transform: scale(0.8, 0.8);
      opacity: 0;
    }
    80% {
      @include stage1-avatar;
      opacity:0
    }
    100% {
      @include stage1-avatar;
      opacity:1
    }
  }

  @keyframes animation_avatar_Menu_to_Entrance {
    0% {
      @include stage1-avatar;
      opacity: 0;
    }
    80% {
      @include stage0-avatar;
      opacity:0;
    }
    100% {
      opacity:1;
      @include stage0-avatar;

    }
  }
}
